<main>
    <div class="row limited">
        <div class="column small-12">
        <h1>Create New Kitten</h1>
        </div>
    </div>
    <div class="row limited">
        <div class="column small-12">

            <%= render "form", kitten: @kitten%>
        </div>
    </div>
    <div class="row limited">
        <div class="column small-12">
         <%= link_to "Cancel", kittens_path %> 
        </div>
    </div>
   
</main>


